# Virtual Environment
.venv/

# Environment Variables
.env

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/processed/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

# Power BI
*.pbit

# Temporary files
*.tmp